{% extends '::base.html.twig' %}
{% block header %}
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><span>TELUS</span> Donations</a>
				<ul class="user-menu">
					<li class="dropdown pull-right">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> {% if is_granted("ROLE_USER") %}{{ app.user.username }}{% endif %} <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Profile</a></li>
							<li><a href="{{ path('fos_user_security_logout') }}"><svg class="glyph stroked cancel"><use xlink:href="#stroked-cancel"></use></svg> Logout</a></li>
						</ul>
					</li>
				</ul>
			</div>
							
		</div><!-- /.container-fluid -->
	</nav>
{% endblock %}
{% block sidebar %}
	<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
		<ul class="nav menu">
			<li class="active"><a href="{{path('main_homepage')}}"><svg class="glyph stroked home"><use xlink:href="#stroked-home"/></svg> Home</a></li>
			<li><a href="#"><svg class="glyph stroked calendar blank"><use xlink:href="#stroked-calendar-blank"/></svg> Institutions</a></li>
			<li><a href="#"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Donations</a></li>
			<li><a href="#"><svg class="glyph stroked app-window"><use xlink:href="#stroked-app-window"></use></svg> Credit Cards</a></li>
			<li><a href="#"><svg class="glyph stroked table"><use xlink:href="#stroked-table"/></svg> History</a></li>
			<li><a href="#"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Profile</a></li>
			<li role="presentation" class="divider"></li>
			<li><a href="{{path('institutions_index')}}"><svg class="glyph stroked pencil"><use xlink:href="#stroked-pencil"/></svg> Institutions Catalog</a></li>
			<li><a href="{{path('cards_index')}}"><svg class="glyph stroked pencil"><use xlink:href="#stroked-pencil"/></svg> Cards Catalog</a></li>
			<li><a href="{{path('users_index')}}"><svg class="glyph stroked pencil"><use xlink:href="#stroked-pencil"/></svg> Users Catalog</a></li>
			<li><a href="{{path('countries_admin_index')}}"><svg class="glyph stroked pencil"><use xlink:href="#stroked-pencil"/></svg> Countries Catalog</a></li>
			<li><a href="{{path('depts_admin_index')}}"><svg class="glyph stroked pencil"><use xlink:href="#stroked-pencil"/></svg> Departments Catalog</a></li>
			{% if is_granted("ROLE_ADMIN") %}
			<li><a href="{{path('roles_admin_index')}}"><svg class="glyph stroked gear"><use xlink:href="#stroked-gear"/></svg> Roles Catalog</a></li>
			<li><a href="{{path('role_user_admin_index')}}"><svg class="glyph stroked gear"><use xlink:href="#stroked-gear"/></svg> Users Roles Catalog</a></li>
			<li><a href="{{path('donations_index')}}"><svg class="glyph stroked gear"><use xlink:href="#stroked-gear"/></svg> Donations Edit</a></li>
			{% endif %}
			
		</ul>
	</div><!--/.sidebar-->
{% endblock %}