{% extends 'MainBundle::header.html.twig' %}
{% block title %}Institutions{% endblock %}

{% block body %}
    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">           
        <div class="row">
            <ol class="breadcrumb">
                <li><a href="{{path('main_homepage')}}"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
                <li class="active">Home</li>
            </ol>
        </div><!--/.row-->
        
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Institutions</h1>
            </div>
        </div><!--/.row-->

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">All institutions registered into this app.</div>
                    <div class="panel-body">
                        <div class="col-md-12">

    <table data-toggle="table">
        <thead>
            <tr>
                <th>Institution ID</th>
                <th>Name of Institution</th>
                <th>About</th>
                <th>Logo</th>    
                <th>Country</th>
                <th>Address</th>
                <th>Contact Name</th>
                <th>Phone Contact</th>
                <th>Email</th>
                <th>Minimal Amount</th>
                <th>Created By</th>
                <th>Date Created</th>
                <th>Modified By</th>
                <th>Date Modified</th>
                <th>Active</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tblInstitution in tblInstitutions %}
            <tr>
                <td><a href="{{ path('institutions_show', { 'id': tblInstitution.idIns }) }}">{{ tblInstitution.idIns }}</a></td>
                <td>{{ tblInstitution.name }}</td>
                <td>{{ tblInstitution.about }}</td>
                <td>{{ tblInstitution.thumbnail }}</td>
                <td>{{ tblInstitution.idCountry }}</td>
                <td>{{ tblInstitution.address }}</td>
                <td>{{ tblInstitution.contactName }}</td>
                <td>{{ tblInstitution.contactPhone }}</td>
                <td>{{ tblInstitution.email }}</td>
                <td>{{ tblInstitution.minAmount }}</td>
                <td>{% if tblInstitution.createdBy %}{{ tblInstitution.createdBy}}{% endif %}</td>
                <td>{% if tblInstitution.createdDt %}{{ tblInstitution.createdDt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if tblInstitution.modifiedBy %}{{ tblInstitution.modifiedBy}}{% endif %}</td>
                <td>{% if tblInstitution.modifiedDt %}{{ tblInstitution.modifiedDt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ tblInstitution.active }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('institutions_show', { 'id': tblInstitution.idIns }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('institutions_edit', { 'id': tblInstitution.idIns }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('institutions_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
