{% extends 'MainBundle::header.html.twig' %}
{% block title %}Institutions | Info {% endblock %}

{% block body %}
     <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">           
        <div class="row">
            <ol class="breadcrumb">
                <li><a href="{{path('main_homepage')}}"><svg class="glyph stroked home"><use xlink:href="#stroked-home"></use></svg></a></li>
                <li class="active">Institutions</li>
                <li class="active">Info</li>
            </ol>
        </div><!--/.row-->
        
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Institution Info</h1>
            </div>
        </div><!--/.row-->

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">Info about the Institution Selected</div>
                    <div class="panel-body">
                        <div class="col-md-6">

    <table data-toggle="table">
        <tbody>
            <tr>
                <th>Institution ID</th>
                <td>{{ tblInstitution.idIns }}</td>
            </tr>
            <tr>
                <th>Name of Institution</th>
                <td>{{ tblInstitution.name }}</td>
            </tr>
            <tr>
                <th>About</th>
                <td>{{ tblInstitution.about }}</td>
            </tr>
            <tr>
                <th>Logo</th>
                <td>{{ tblInstitution.thumbnail }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ tblInstitution.idCountry }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ tblInstitution.address }}</td>
            </tr>
            <tr>
                <th>Contact Name</th>
                <td>{{ tblInstitution.contactName }}</td>
            </tr>
            <tr>
                <th>Phone Contact</th>
                <td>{{ tblInstitution.contactPhone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ tblInstitution.email }}</td>
            </tr>
            <tr>
                <th>Minimal Amount</th>
                <td>{{ tblInstitution.minAmount }}</td>
            </tr>
            <tr>
                <th>Created By</th>
                <td>{% if tblInstitution.createdBy %}{{ tblInstitution.createdBy}}{% endif %}</td>
            </tr>
            <tr>
                <th>Date Created</th>
                <td>{% if tblInstitution.createdDt %}{{ tblInstitution.createdDt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Modified By</th>
                <td>{% if tblInstitution.modifiedBy %}{{ tblInstitution.modifiedBy}}{% endif %}</td>
            </tr>
            <tr>
                <th>Date Modified</th>
                <td>{% if tblInstitution.modifiedDt %}{{ tblInstitution.modifiedDt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{{ tblInstitution.active }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('institutions_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('institutions_edit', { 'id': tblInstitution.idIns }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
</div>
                </div>
            </div><!-- /.col-->
        </div><!-- /.row -->
        <script>
            $(function () {
                $('#hover, #striped, #condensed').click(function () {
                    var classes = 'table';
        
                    if ($('#hover').prop('checked')) {
                        classes += ' table-hover';
                    }
                    if ($('#condensed').prop('checked')) {
                        classes += ' table-condensed';
                    }
                    $('#table-style').bootstrapTable('destroy')
                        .bootstrapTable({
                            classes: classes,
                            striped: $('#striped').prop('checked')
                        });
                });
            });
        
            function rowStyle(row, index) {
                var classes = ['active', 'success', 'info', 'warning', 'danger'];
        
                if (index % 2 === 0 && index / 2 < classes.length) {
                    return {
                        classes: classes[index / 2]
                    };
                }
                return {};
            }
            !function ($) {
                $(document).on("click","ul.nav li.parent > a > span.icon", function(){        
                    $(this).find('em:first').toggleClass("glyphicon-minus");      
                }); 
                $(".sidebar span.icon").find('em:first').addClass("glyphicon-plus");
            }(window.jQuery);

            $(window).on('resize', function () {
              if ($(window).width() > 768) $('#sidebar-collapse').collapse('show')
            })
            $(window).on('resize', function () {
              if ($(window).width() <= 767) $('#sidebar-collapse').collapse('hide')
            })
        </script>
{% endblock %}

