{% extends 'base.html.twig' %}

{% block body %}
    <h1>TblUsers</h1>

    <table>
        <tbody>
            <tr>
                <th>Iduser</th>
                <td>{{ tblUser.idUser }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ tblUser.firstName }}</td>
            </tr>
            <tr>
                <th>Secondname</th>
                <td>{{ tblUser.secondName }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ tblUser.email }}</td>
            </tr>
            <tr>
                <th>Celnumber</th>
                <td>{{ tblUser.celNumber }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ tblUser.address }}</td>
            </tr>
            <tr>
                <th>Createdby</th>
                <td>{{ tblUser.createdBy }}</td>
            </tr>
            <tr>
                <th>Createddt</th>
                <td>{% if tblUser.createdDt %}{{ tblUser.createdDt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Modifyby</th>
                <td>{{ tblUser.modifyBy }}</td>
            </tr>
            <tr>
                <th>Modifydt</th>
                <td>{% if tblUser.modifyDt %}{{ tblUser.modifyDt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('users_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('users_edit', { 'id': tblUser.idUser }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
